<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LinQToDataSet.Properties.Settings.dbDemoConnectionString" connectionString="Data Source=.;Initial Catalog=dbDemo;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="dbDemoEntities" connectionString="metadata=res://*/NhanVienChucVuModel.csdl|res://*/NhanVienChucVuModel.ssdl|res://*/NhanVienChucVuModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=dbDemo;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>